
/*GLOBAL STYLES*//*GLOBAL STYLES*//*GLOBAL STYLES*/

* {
    box-model: * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; };
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	  margin: 0;
    padding: 0;
  }

h3, h2 {
    font-size: 30px;
    font-family: 'Nixie One', sans-serif;
    color: #000;  
  }

h3 {
    font-size: 30px;
    font-family: 'Nothing You Could Do', sans-serif;
    color: #000;
    padding-top: 2%;
}

header h3 {
  text-align: left;
  width: 40%;
  font-family: 'Nothing You Could Do', sans-serif;

}
header h2 {
  line-height: 200%;
}

p {
    clear: both;
    font-family: 'Nixie One', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 5%;
  }

a {
  text-decoration: none;
  color: #D31996;
  }

a:hover, i:hover {
  color: #FF3D7F;
}

.aboutMe, .skills, footer {
     font-family: 'Nixie One', sans-serif;
     font-size: 20px;
     line-height: 150%;
     padding: 10% 15% 10% 15%;
  }

/*HEADER*//*HEADER*//*HEADER*/

header {
  padding: 5% 0% 10% 5%;
  background: url("images/background3wide3.jpg") no-repeat; 
  background-position: 50% 50%;
  background-attachment: fixed;
  }

.fa-twitter {
  width: 5%;
  margin-left:85%;
  position: fixed;
  color: #D31996 ;
  font-size: 60px;
  }

.headerAlt {
  display: none;
}

/*ABOUT ME*//*ABOUT ME*//*ABOUT ME*/

.aboutMe {
    background: url("images/backgroundContent.png"); 
    color: white;
    text-align: justify;
  }

/*SKILLS*//*SKILLS*//*SKILLS*/


.skills {
  background: white;
  color: black;
  text-align: justify;
  }

.skills ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 20%;
  }

.skills ul li {
    width: 30%;
    float: left;
  }

.skills ul li p {
  padding-top: 10%;
  color: black;
  font-size: 25px;
  font-family: 'Nothing You Could Do', sans-serif;
  }

span.special h4 {
    font-weight: bolder;
    color: #FF3D7F;
  }

/*ABOUT ME*//*ABOUT ME*//*ABOUT ME*/

.aboutMe img {
    width: 10%;
    margin-left:45%;
    background: white;
    border-radius: 50%;
  }

.aboutMe {
  background-position: 20% 50%;
  }

/*FOOTER*//*FOOTER*//*FOOTER*/

footer h4, footer p {
    text-align: justify;
  }

footer h4 {
  text-align: center;
  line-height: 50%;
  text-transform: lowercase;
  }

footer p.contact {
  font-size: 15px;
  }

footer p.contact a {
  text-decoration: none;
  color: black;
}

.footerAlt {
  display: none;
}

footer p.contact {
  display: inline;
  text-align: center; /*why doesn't this work?*/
}

/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/



/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
     
header {
  display: none;
}

div.headerAlt {
  display: block;
}

div.headerAlt img {
  width: 100%;
}

p, h1, h2, h3 {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 1%;
  color:  #000;
}

.skills {
    background: url("images/backgroundContent.png"); 
    color: white;
    text-align: justify;
}

.skills ul {
  text-align: center;
}

.skills ul li p {
  font-size: 15px;
  color: white;
}

.skillsBlurb {
  display: none;
}

.skills .fa {
  font-size: 30px;
}
.aboutMe {
  display: none;
}

footer {
  display: none;
}

.footerAlt {
  display: block;
  text-align: center;
}

.footerAlt .socialIcons a {
  color: black;
}
}


/* Landscape phones and down */
@media (max-width: 480px) {
    @media (max-width: 768px) {
     
header {
  display: none;
}

div.headerAlt {
  display: block;
}

div.headerAlt img {
  width: 100%;
}

p, h1, h2, h3 {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 1%;
  color: #000;
}

.skills {
  display: none;
}

.aboutMe {
  display: none;
}

footer {
  display: none;
}

.footerAlt {
  display: block;
  padding: 2%;
  background: url("images/backgroundContent.png"); 
  color: white;
  text-align: justify;
}

.footerAlt .socialIcons a {
  color: black;
  margin-right: 5%;
}

.socialIcons {
  text-align: center;
  padding: 2%;
}   
    }

